node_modules
.DS_STORE
*.log
*.map
*.sublime-project

**/dist/*.js
**/public/js/**/*.js
**/server/*.js
**/server/js/**/*.js

**/server/app/**/**/*.js
**/server/public/*.js
**/server/public/*.css
**/server/util/**/**/*.js
