<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/users" method="post">
      <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </p>
      <p>
        <button type="submit">Add user</button>
      </p>
    </form>

    <% if (users.length !== 0) { %>
      <p>
        <ol>
          <% users.forEach(function(user) { %>
            <li><%= user.name %></li>
          <% }) %>
        </ol>
      </p>
    <% } %>

    <a href="/">Home</a>

  </body>
</html>
